.client {
  position: relative;
  padding: 240px 32px 58px;
  text-align: center;
  background-color: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1; }
  .client__decor {
    position: absolute;
    width: 160px;
    height: 64px;
    border-radius: 32px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    left: calc(50% - 80px);
    top: 93px; }
  .client__photo {
    position: absolute;
    width: 64px;
    height: 124px;
    border-radius: 32px;
    left: calc(50% - 32px);
    top: 102px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg); }
  .client__img {
    height: 100%;
    -webkit-transform: rotate(25deg) scaleX(-1);
            transform: rotate(25deg) scaleX(-1); }
  .client__first .client__img {
    -webkit-transform: rotate(25deg) scale(1.4) scaleX(-1);
            transform: rotate(25deg) scale(1.4) scaleX(-1); }
  .client__quote {
    font-style: italic;
    font-size: 14px;
    margin: 0; }
    .client__quote::before {
      content: "''"; }
    .client__quote::after {
      content: "''"; }
  .client__about {
    font-size: 13px; }
    .client__about::before {
      content: "";
      display: block;
      margin: 31px auto;
      width: 64px;
      height: 2px; }
  .client__name {
    font-weight: bold;
    margin: 0; }
  .client__position {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    color: #56ccf2; }
  .client__first .client__decor,
  .client__first .client__about::before {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /* stylelint-enable */ }
  .client__first .client__position {
    color: #56ccf2; }
  .client__second .client__decor,
  .client__second .client__about::before {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */ }
  .client__second .client__position {
    color: #fcc304; }
  .client__third .client__decor,
  .client__third .client__about::before {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
    /* stylelint-enable */ }
  .client__third .client__position {
    color: #f25656; }

/*# sourceMappingURL=client.css.map */
