.header {
  position: relative;
  min-height: 848px;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(-65deg, #fcfcfd 25%, #56ccf2 25%); }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__heading {
    font-weight: 900;
    font-size: 64px;
    line-height: 96px; }
  .header__content {
    margin: 0;
    color: white;
    width: 754px;
    padding: 76px 86px 80px 98px; }
  .header__text {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 42px; }
  .header__button {
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: bold;
    background: white;
    border-radius: 64px;
    padding: 16px 65px;
    text-decoration: none;
    color: #253757; }
    .header__button:hover {
      background-color: #ffff57;
      color: sienna; }

@media screen and (min-width: 1025px) and (max-width: 1398px) {
  .header {
    /* stylelint-disable */
    background-image: -webkit-gradient(linear, left bottom, right top, from(#56ccf2), color-stop(#5ac5fc), color-stop(#6cbdff), color-stop(#88b2ff), to(#a6a6ff));
    background-image: linear-gradient(to right top, #56ccf2, #5ac5fc, #6cbdff, #88b2ff, #a6a6ff);
    /* stylelint-enable */ }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__content {
      text-align: center;
      margin: auto;
      padding: 46px 26px 20px 28px; }
    .header__heading {
      text-align: start;
      font-size: 65px;
      line-height: 40px; } }

@media screen and (max-width: 1024px) {
  .header {
    /* stylelint-disable */
    background-image: -webkit-gradient(linear, left bottom, right top, from(#56ccf2), color-stop(#5ac5fc), color-stop(#6cbdff), color-stop(#88b2ff), to(#a6a6ff));
    background-image: linear-gradient(to right top, #56ccf2, #5ac5fc, #6cbdff, #88b2ff, #a6a6ff);
    /* stylelint-enable */ }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__content {
      text-align: center;
      margin: auto;
      padding: 46px 26px 20px 28px; }
    .header__heading {
      text-align: start;
      font-size: 65px; } }

@media screen and (min-width: 451px) and (max-width: 950px) {
  .header {
    padding-top: 30px;
    min-height: 770px; }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__logo {
      padding-left: 27px; }
    .header__heading {
      font-size: 55px;
      line-height: 40px; }
    .header__content {
      text-align: center;
      width: 600px;
      padding: 36px 26px 20px 28px; }
    .header__text {
      text-align: end;
      width: 550px;
      font-size: 19px;
      line-height: 26px;
      padding-bottom: 20px; } }

/*# sourceMappingURL=header.css.map */
