.header {
  position: relative;
  min-height: 848px;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(-65deg, #fcfcfd 25%, #56ccf2 25%); }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__heading {
    font-weight: 900;
    font-size: 64px;
    line-height: 96px; }
  .header__content {
    margin: 0;
    color: white;
    width: 754px;
    padding: 76px 86px 80px 98px; }
  .header__text {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 42px; }
  .header__button {
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: bold;
    background: white;
    border-radius: 64px;
    padding: 16px 65px;
    text-decoration: none;
    color: #253757; }
    .header__button:hover {
      background-color: #ffff57;
      color: sienna; }

@media screen and (min-width: 1025px) and (max-width: 1398px) {
  .header {
    /* stylelint-disable */
    background-image: -webkit-gradient(linear, left bottom, right top, from(#56ccf2), color-stop(#5ac5fc), color-stop(#6cbdff), color-stop(#88b2ff), to(#a6a6ff));
    background-image: linear-gradient(to right top, #56ccf2, #5ac5fc, #6cbdff, #88b2ff, #a6a6ff);
    /* stylelint-enable */ }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__content {
      text-align: center;
      margin: auto;
      padding: 46px 26px 20px 28px; }
    .header__heading {
      text-align: start;
      font-size: 65px;
      line-height: 40px; } }

@media screen and (max-width: 1024px) {
  .header {
    /* stylelint-disable */
    background-image: -webkit-gradient(linear, left bottom, right top, from(#56ccf2), color-stop(#5ac5fc), color-stop(#6cbdff), color-stop(#88b2ff), to(#a6a6ff));
    background-image: linear-gradient(to right top, #56ccf2, #5ac5fc, #6cbdff, #88b2ff, #a6a6ff);
    /* stylelint-enable */ }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__content {
      text-align: center;
      margin: auto;
      padding: 46px 26px 20px 28px; }
    .header__heading {
      text-align: start;
      font-size: 65px; } }

@media screen and (min-width: 451px) and (max-width: 950px) {
  .header {
    padding-top: 30px;
    min-height: 770px; }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__logo {
      padding-left: 27px; }
    .header__heading {
      font-size: 55px;
      line-height: 40px; }
    .header__content {
      text-align: center;
      width: 600px;
      padding: 36px 26px 20px 28px; }
    .header__text {
      text-align: end;
      width: 550px;
      font-size: 19px;
      line-height: 26px;
      padding-bottom: 20px; } }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: Muli, sans-serif;
  font-size: 16px;
  line-height: inherit;
  outline: none;
  font-weight: normal; }

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1; }

@media screen and (max-width: 950px) {
  .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.nav {
  margin-left: 143px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    margin-right: 63px; }
    .nav__item:nth-child(5) {
      margin-right: 135px; }
    .nav__item:last-child {
      margin-right: 0; }
  .nav__link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: sienna; }
    .nav__link--active {
      position: relative; }
      .nav__link--active::after {
        content: "";
        height: 4px;
        width: 120%;
        background-color: #fcc304;
        border-radius: 32px;
        position: absolute;
        bottom: -10px;
        left: -10%; }

@media screen and (max-width: 1024px) {
  .nav {
    margin-left: 20px; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .nav__item {
      text-transform: uppercase;
      margin-bottom: 10px; }
      .nav__item:nth-child(5) {
        margin-right: 63px; }
      .nav__item:last-child {
        margin-right: 63px; } }

@media screen and (max-width: 950px) {
  .nav {
    margin-left: 100px; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .nav__item {
      text-transform: uppercase;
      margin-bottom: 10px; }
      .nav__item:last-child {
        margin-bottom: 0; } }

.container {
  padding-left: 227px;
  padding-right: 227px; }
  .container__blocks {
    margin-left: 64px;
    margin-right: 64px; }

@media screen and (max-width: 1440px) {
  .container {
    padding-left: 130px;
    padding-right: 130px; }
    .container__blocks {
      margin-left: 24px;
      margin-right: 24px; } }

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0; }
    .container__blocks {
      margin-left: 24px;
      margin-right: 24px; } }

@media screen and (max-width: 950px) {
  .container {
    padding-left: 27px;
    padding-right: 27px; }
    .container__blocks {
      margin-left: 24px;
      margin-right: 24px; } }

.logo {
  width: 53px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.slider {
  background-color: #fcfcfd;
  height: 822px; }
  .slider__photo {
    position: absolute;
    top: 540px;
    left: 227px;
    width: 1146px;
    height: 640px;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider__networks {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 1437px;
    right: 144px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    letter-spacing: 2px;
    line-height: 19px;
    font-weight: 800;
    font-size: 13px; }
  .slider__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: calc(50% + 437px);
    left: 145px;
    width: 162px;
    height: 64px;
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */
    border-radius: 50px; }
  .slider .welcome {
    padding: 485px 435px 0 423px;
    display: block;
    background-color: #fcfcfd; }
    .slider .welcome__heading {
      margin-top: 10px; }
    .slider .welcome__welcome-heading {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
      .slider .welcome__welcome-heading:before {
        display: block;
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background-image: url("../images/sub-title/sub-title-icon-dark.svg");
        left: -37px; }
  .slider .welcome-container {
    width: 742px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media screen and (max-width: 1440px) {
  .slider__photo {
    left: 130px; }
  .slider__arrow {
    top: calc(50% + 430px);
    left: 48px; } }

@media screen and (max-width: 1024px) {
  .slider__photo {
    top: 600px;
    left: 9%;
    right: 9%;
    width: 100%;
    height: 320px; }
  .slider__networks {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 25%;
    right: 15%;
    top: 940px;
    font-size: 20px; }
  .slider .container {
    padding: 250px 120px; }
  .slider__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: calc(100% + 75px);
    left: calc(50% - 494px); }
    .slider__arrow--left {
      width: 20px; }
    .slider__arrow--right {
      width: 20px; } }

@media screen and (max-width: 950px) {
  .slider {
    background-color: #fcfcfd;
    height: auto; }
    .slider__photo {
      top: 600px;
      left: 9%;
      right: 9%;
      width: 100%;
      height: 320px;
      -o-object-fit: cover;
         object-fit: cover; }
    .slider__networks {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      left: 20%;
      right: 20%;
      top: 940px;
      font-size: 11px; }
    .slider .container {
      padding: 250px 120px; }
    .slider__arrow {
      position: absolute;
      width: 81px;
      height: 32px; }
      .slider__arrow--left {
        width: 10px; }
      .slider__arrow--right {
        width: 10px; } }

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #253757;
  margin-right: 85px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  .link:last-child {
    margin-right: 0; }
  .link:hover {
    color: darkgoldenrod; }

.intro {
  position: absolute;
  left: 325px;
  top: 1028px; }
  .intro__heading {
    margin: 0;
    font-size: 13px;
    font-weight: 800;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .intro__text {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: white;
    width: 264px;
    padding-top: 4px; }
  .intro__welcome {
    width: 742px;
    position: absolute;
    top: 294px;
    left: 130px; }
  .intro__welcome-heading {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 19px; }
    .intro__welcome-heading:before {
      display: block;
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url(../images/sub-title/sub-title-icon-dark.svg);
      left: -37px; }
  .intro__welcome-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: #253757;
    -webkit-transform: translate(-38px);
            transform: translate(-38px); }

@media screen and (max-width: 950px) {
  .intro {
    left: 80px;
    top: 820px; }
    .intro__text {
      width: 250px;
      font-size: 17px;
      line-height: 20px; }
    .intro__welcome {
      position: absolute;
      top: 200px;
      left: 20px;
      width: 600px; }
    .intro__welcome-heading {
      font-size: 15px;
      line-height: 15px;
      padding-bottom: 10px; }
    .intro__welcome-text {
      width: 370px;
      font-size: 15px;
      line-height: 20px;
      text-align: justify; } }

.services {
  background-color: white;
  padding: 0 25px; }
  .services__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .services__title {
    font-size: 20px;
    line-height: 140%;
    margin: 64px 0 32px;
    font-weight: 900;
    color: #253757; }
  .services__description {
    font-size: 16px;
    margin: 0;
    color: #334563; }
  .services__heading {
    position: absolute;
    text-align: center;
    width: 561px;
    height: 48px;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #253757;
    -webkit-transform: translate(0, -190px);
            transform: translate(0, -190px); }

@media screen and (max-width: 950px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .services__heading {
      text-align: center; } }

.footer {
  background-color: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 136px 228px 83px 227px; }
  .footer__nav {
    color: black; }
  .footer__design {
    font-weight: bold;
    color: #253757; }
  .footer .nav__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #253757; }
    .footer .nav__link:hover {
      color: darkgoldenrod; }
  .footer__mail {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #253757; }

@media screen and (max-width: 1024px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__design {
      padding-bottom: 20px; }
    .footer__nav {
      margin: auto; }
      .footer__nav .nav__list {
        display: block;
        text-align: center; } }

@media screen and (max-width: 950px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__nav {
      color: black;
      text-align: center; }
    .footer .nav__link {
      font-size: 13px;
      line-height: 10px; } }

.process {
  background-color: #fcfcfd;
  height: 822px;
  position: relative; }
  .process .container {
    margin-left: 64px; }
  .process .intro__welcome {
    position: absolute;
    left: 163px;
    width: 362px;
    top: 161px; }
  .process__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #253757; }
  .process .intro__welcome-heading {
    display: block;
    padding-left: 37px; }
  .process .intro__welcome-heading:before {
    left: 0; }
  .process__text {
    color: #334563; }
  .process__margin {
    margin: 0;
    padding-top: 64px; }
  .process__padding {
    padding-top: 20px;
    margin: 0; }

@media screen and (max-width: 1440px) {
  .process .intro__welcome {
    left: 107px; } }

@media screen and (max-width: 950px) {
  .process {
    height: 1500px; }
    .process__heading {
      font-size: 30px; }
    .process__text {
      width: 100%;
      font-size: 20px;
      text-align: justify; }
    .process .intro__welcome {
      top: 100px;
      left: 33px; } }

.process-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 96px 0 0 776px;
  z-index: 1; }
  .process-list__item {
    width: 240px;
    height: 256px;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    padding: 48px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 128px 58px 0 0;
    background-color: white; }
    .process-list__item_left {
      top: 120px; }
  .process-list__text {
    font-size: 13px;
    margin-top: 32px; }
  .process-list__number {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    position: absolute;
    top: 65px; }
    .process-list__number_1 {
      color: #56ccf2; }
    .process-list__number_2 {
      color: #fcc304; }
    .process-list__number_3 {
      color: #03f542; }
    .process-list__number_4 {
      color: #f25656; }

@media screen and (max-width: 1024px) {
  .process-list {
    margin: 100px 0 0 570px; }
    .process-list__item {
      margin: 20px 58px 0 0; }
      .process-list__item_left {
        top: 0; } }

@media screen and (max-width: 950px) {
  .process-list {
    margin: 500px 0 0 100px; }
    .process-list__item {
      margin: 20px 58px 0 0; }
      .process-list__item_left {
        top: 0; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .row__item {
    -ms-flex-preferred-size: 314px;
        flex-basis: 314px;
    margin: 0   40px; }

@media screen and (max-width: 1440px) {
  .row {
    padding: 65px; } }

@media screen and (max-width: 950px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px; }
    .row__item {
      -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.02);
              box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.02);
      margin-bottom: 20px; } }

.features {
  background-image: url("../images/features/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 198px 0 160px;
  display: block;
  background-color: #56ccf2; }
  .features__heading {
    margin-top: 19px; }

.features-container {
  width: 362px;
  margin-left: calc((100% - 67%) / 2); }
  .features-container .chapter-name {
    color: #fff;
    -webkit-transform: translate(5px);
            transform: translate(5px); }
    .features-container .chapter-name:before {
      background-image: url("../images/sub-title/sub-title-icon-light.svg"); }
  .features-container .feature {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-top: 69px;
    position: relative;
    margin-left: 64px; }
    .features-container .feature:before {
      content: "";
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      left: -96px;
      top: 50%;
      background-color: #fff;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .features-container .process__heading {
    -webkit-transform: translate(-35px);
            transform: translate(-35px); }
  .features-container .feature_1:before {
    background-image: url(../images/features/features-item-icon-1.svg); }
  .features-container .feature_2:before {
    background-image: url(../images/features/features-item-icon-2.svg); }
  .features-container .feature_3:before {
    background-image: url(../images/features/features-item-icon-3.svg); }

.testimonials {
  padding: 165px 0 0;
  display: block;
  background-color: #fff; }
  .testimonials .wrapper {
    -webkit-transform: translate(0, 86px);
            transform: translate(0, 86px); }
  .testimonials__heading {
    margin-top: 19px;
    width: 362px;
    color: #253757;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px; }
  .testimonials .chapter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(14%, 0);
            transform: translate(14%, 0); }
  .testimonials .testimonials-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .testimonials__welcome-heading {
    -webkit-transform: translate(37px, 0);
            transform: translate(37px, 0); }
    .testimonials__welcome-heading:before {
      display: block;
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url("../images/sub-title/sub-title-icon-dark.svg");
      left: -37px; }

.client {
  position: relative;
  padding: 240px 32px 58px;
  text-align: center;
  background-color: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1; }
  .client__decor {
    position: absolute;
    width: 160px;
    height: 64px;
    border-radius: 32px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    left: calc(50% - 80px);
    top: 93px; }
  .client__photo {
    position: absolute;
    width: 64px;
    height: 124px;
    border-radius: 32px;
    left: calc(50% - 32px);
    top: 102px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg); }
  .client__img {
    height: 100%;
    -webkit-transform: rotate(25deg) scaleX(-1);
            transform: rotate(25deg) scaleX(-1); }
  .client__first .client__img {
    -webkit-transform: rotate(25deg) scale(1.4) scaleX(-1);
            transform: rotate(25deg) scale(1.4) scaleX(-1); }
  .client__quote {
    font-style: italic;
    font-size: 14px;
    margin: 0; }
    .client__quote::before {
      content: "''"; }
    .client__quote::after {
      content: "''"; }
  .client__about {
    font-size: 13px; }
    .client__about::before {
      content: "";
      display: block;
      margin: 31px auto;
      width: 64px;
      height: 2px; }
  .client__name {
    font-weight: bold;
    margin: 0; }
  .client__position {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    color: #56ccf2; }
  .client__first .client__decor,
  .client__first .client__about::before {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /* stylelint-enable */ }
  .client__first .client__position {
    color: #56ccf2; }
  .client__second .client__decor,
  .client__second .client__about::before {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */ }
  .client__second .client__position {
    color: #fcc304; }
  .client__third .client__decor,
  .client__third .client__about::before {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
    /* stylelint-enable */ }
  .client__third .client__position {
    color: #f25656; }

.vision {
  position: relative;
  background-color: #fcfcfd; }
  .vision__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #253757;
    width: 561px;
    display: block;
    margin: auto;
    padding-top: 250px; }
  .vision__text {
    padding-top: 57px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: 754px;
    display: block;
    margin: auto;
    color: #334563; }
  .vision__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 226px;
    height: 56px;
    text-decoration: none;
    border-radius: 64px;
    padding: 15px 88px 17px 89px;
    background-color: #2f80ed;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1px;
    margin: 55px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .vision__button:hover {
      background-color: lightgreen;
      color: white; }
  .vision__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    border-radius: 32px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border: #fcc304 solid 4px;
    background: #fcfcfd; }
  .vision .one-decor {
    position: absolute;
    top: 431px;
    left: 269px;
    width: 143px;
    height: 56px;
    border-color: #80e9a0;
    opacity: 0.5;
    z-index: 1; }
  .vision .two-decor {
    position: absolute;
    left: 446px;
    top: 225px;
    width: 45px;
    height: 18px;
    opacity: 0.5;
    border: #fcc304 solid 3px;
    z-index: 1; }
  .vision .three-decor {
    position: absolute;
    left: 233px;
    top: 220px;
    width: 86px;
    height: 34px;
    opacity: 0.5;
    border: #f8b6b7 solid 3px;
    z-index: 1; }
  .vision .four-decor {
    position: absolute;
    left: 82px;
    top: 518px;
    width: 67px;
    height: 27px;
    opacity: 0.5;
    border: #b1e7f8 solid 3px;
    z-index: 1; }
  .vision .five-decor {
    position: absolute;
    width: 93px;
    height: 37px;
    left: 131px;
    top: 666px;
    opacity: 0.5;
    border: #dd82fd solid 3px;
    z-index: 1; }
  .vision .six-decor {
    position: absolute;
    width: 45px;
    height: 18px;
    left: 481px;
    top: 613px;
    opacity: 0.5;
    border: #fce185 solid 3px;
    z-index: 1; }
  .vision .seven-decor {
    position: absolute;
    width: 45px;
    height: 18px;
    left: 1012px;
    top: 662px;
    opacity: 0.5;
    border: #e193fd solid 3px;
    z-index: 1; }
  .vision .eight-decor {
    position: absolute;
    width: 154px;
    height: 61px;
    left: 1337px;
    top: 561px;
    opacity: 0.5;
    border: #8bd4f8 solid 3px;
    z-index: 1; }
  .vision .nine-decor {
    position: absolute;
    width: 86px;
    height: 34px;
    left: 1219px;
    top: 533px;
    opacity: 0.5;
    border: #f7b1b1 solid 3px;
    z-index: 1; }
  .vision .ten-decor {
    position: absolute;
    width: 143px;
    height: 56px;
    left: 1273px;
    top: 279px;
    opacity: 0.5;
    border: #80e9a0 solid 3px; }
  .vision .eleven-decor {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 1447px;
    top: 257px;
    opacity: 0.5;
    border: #df8efd solid 3px; }
  .vision .twelve-decor {
    position: absolute;
    width: 86px;
    height: 34px;
    left: 1466px;
    top: 425px;
    opacity: 0.5;
    border: #fde596 solid 3px; }

@media screen and (max-width: 950px) {
  .vision__item-right {
    display: none; }
  .vision__heading {
    width: 100%;
    font-size: 39px;
    text-align: center; }
  .vision__text {
    width: 400px;
    font-size: 20px; } }

.contact {
  background-color: #fcfcfd;
  position: relative;
  padding-top: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__contact_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact-us__description {
    padding-top: 43px;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #334563; }
  .contact-us__phone {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #56ccf2;
    text-decoration: none;
    letter-spacing: 2px; }
  .contact-us__address {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #56ccf2;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact-us__icon-net {
    width: 192px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 53px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contact__heading {
    display: block;
    position: absolute;
    left: 1035px;
    top: 166px; }
    .contact__heading:before {
      display: block;
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url(../images/sub-title/sub-title-icon-dark.svg);
      left: -37px; }
  .contact .heading {
    width: 362px;
    color: #253757;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px; }

.contact__welcome-heading {
  padding-bottom: 104px; }

@media screen and (max-width: 1024px) {
  .contact {
    background-color: #fcfcfd;
    position: relative;
    padding-top: 256px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    width: 656px;
    height: 41px;
    margin-bottom: 48px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #152032;
    background-color: #fcfcfd; }
    .form__input:last-of-type {
      margin-bottom: 105px; }
  .form .send-form__button {
    margin: 0; }
    .form .send-form__button:hover {
      background-color: lightgreen; }

@media screen and (max-width: 1024px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form .send-form__button {
      margin-bottom: 150px; } }

/*# sourceMappingURL=main.css.map */
