.header {
  position: relative;
  width: 100vw;
  min-height: 848px;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(-65deg, #fcfcfd 25%, #56ccf2 25%); }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__heading {
    font-weight: 900;
    font-size: 64px;
    line-height: 96px; }
  .header__content {
    margin: 0;
    color: white;
    width: 754px;
    padding: 76px 86px 80px 98px; }
  .header__text {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 42px; }
  .header__button {
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: bold;
    background: white;
    border-radius: 64px;
    padding: 16px 65px;
    text-decoration: none;
    color: #253757; }
    .header__button:hover {
      background-color: #ffff57;
      color: sienna; }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: Muli, sans-serif;
  font-size: 16px;
  line-height: inherit;
  outline: none;
  font-weight: normal; }

.nav {
  margin-left: 143px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    margin-right: 63px; }
    .nav__item:nth-child(5) {
      margin-right: 135px; }
    .nav__item:last-child {
      margin-right: 0; }
  .nav__link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: sienna; }
    .nav__link--active {
      position: relative; }
      .nav__link--active::after {
        content: "";
        height: 4px;
        width: 120%;
        background-color: #fcc304;
        border-radius: 32px;
        position: absolute;
        bottom: -10px;
        left: -10%; }

.container {
  padding-left: 227px;
  max-width: 1600px;
  padding-right: 227px; }
  .container__blocks {
    margin-left: 64px;
    margin-right: 64px; }

.logo {
  width: 53px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.slider {
  background-color: #fcfcfd;
  height: 822px;
  width: 100vw; }
  .slider__photo {
    position: absolute;
    top: 540px;
    left: 227px;
    width: 1146px;
    height: 640px;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider__networks {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 1437px;
    right: 144px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    letter-spacing: 2px;
    line-height: 19px;
    font-weight: 800;
    font-size: 13px; }
  .slider__arrow {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 146px;
    top: 815px;
    width: 162px;
    height: 64px;
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */
    border-radius: 50px; }

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #253757;
  margin-right: 85px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  .link:last-child {
    margin-right: 0; }
  .link:hover {
    color: darkgoldenrod; }

.intro {
  position: absolute;
  left: 325px;
  top: 1028px; }
  .intro__heading {
    margin: 0;
    font-size: 13px;
    font-weight: 800;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .intro__text {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: white;
    width: 264px;
    padding-top: 4px; }
  .intro__welcome {
    width: 742px;
    position: absolute;
    top: 294px;
    left: 130px; }
  .intro__welcome-heading {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 19px; }
    .intro__welcome-heading:before {
      display: block;
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url(../images/sub-title/sub-title-icon-dark.svg);
      left: -37px; }
  .intro__welcome-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: #253757;
    -webkit-transform: translate(-38px);
            transform: translate(-38px); }

.services {
  background-color: white;
  padding: 0 25px; }
  .services__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .services__title {
    font-size: 20px;
    line-height: 27px;
    margin: 64px 0 32px;
    font-weight: 900;
    color: #253757; }
  .services__description {
    font-size: 16px;
    margin: 0;
    color: #334563; }
  .services__heading {
    left: 520px;
    position: absolute;
    text-align: center;
    width: 561px;
    height: 48px;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #253757;
    -webkit-transform: translate(0, -190px);
            transform: translate(0, -190px); }

.footer {
  height: 240px;
  background-color: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__nav {
    color: black; }
  .footer .nav__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #253757; }
  .footer__mail {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #253757; }

.process {
  background-color: #fcfcfd;
  height: 822px;
  position: relative; }
  .process .container {
    margin-left: 64px; }
  .process .intro__welcome {
    position: absolute;
    left: 163px;
    width: 362px;
    top: 161px; }
  .process__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #253757; }
  .process .intro__welcome-heading {
    display: block;
    padding-left: 37px; }
  .process .intro__welcome-heading:before {
    left: 0; }
  .process__text {
    color: #334563; }
  .process__margin {
    margin: 0;
    padding-top: 64px; }
  .process__padding {
    padding-top: 20px;
    margin: 0; }

.process-list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 96px 0 0 776px; }
  .process-list__item {
    width: 240px;
    height: 256px;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    padding: 48px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 128px 58px 0 0;
    background-color: white; }
    .process-list__item_left {
      top: 120px; }
  .process-list__text {
    font-size: 13px;
    margin-top: 32px; }
  .process-list__number {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    position: absolute;
    top: 65px; }
    .process-list__number_1 {
      color: #56ccf2; }
    .process-list__number_2 {
      color: #fcc304; }
    .process-list__number_3 {
      color: #03f542; }
    .process-list__number_4 {
      color: #f25656; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 160px; }
  .row__item {
    -webkit-box-flex: 314px;
        -ms-flex: 314px 0 0px;
            flex: 314px 0 0;
    margin: 0 40px; }

.features {
  height: 300px;
  background-color: #56ccf2; }

/*# sourceMappingURL=main.css.map */
