.slider {
  background-color: #fcfcfd;
  height: 822px; }
  .slider__photo {
    position: absolute;
    top: 540px;
    left: 227px;
    width: 1146px;
    height: 640px;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider__networks {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 1437px;
    right: 144px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    letter-spacing: 2px;
    line-height: 19px;
    font-weight: 800;
    font-size: 13px; }
  .slider__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: calc(50% + 437px);
    left: 145px;
    width: 162px;
    height: 64px;
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */
    border-radius: 50px; }
  .slider .welcome {
    padding: 485px 435px 0 423px;
    display: block;
    background-color: #fcfcfd; }
    .slider .welcome__heading {
      margin-top: 10px; }
    .slider .welcome__welcome-heading {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
      .slider .welcome__welcome-heading:before {
        display: block;
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background-image: url("../images/sub-title/sub-title-icon-dark.svg");
        left: -37px; }
  .slider .welcome-container {
    width: 742px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media screen and (max-width: 1440px) {
  .slider__photo {
    left: 130px; }
  .slider__arrow {
    top: calc(50% + 430px);
    left: 48px; } }

@media screen and (max-width: 1024px) {
  .slider__photo {
    top: 600px;
    left: 9%;
    right: 9%;
    width: 100%;
    height: 320px; }
  .slider__networks {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 25%;
    right: 15%;
    top: 940px;
    font-size: 20px; }
  .slider .container {
    padding: 250px 120px; }
  .slider__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: calc(100% + 75px);
    left: calc(50% - 494px); }
    .slider__arrow--left {
      width: 20px; }
    .slider__arrow--right {
      width: 20px; } }

@media screen and (max-width: 950px) {
  .slider {
    background-color: #fcfcfd;
    height: auto; }
    .slider__photo {
      top: 600px;
      left: 9%;
      right: 9%;
      width: 100%;
      height: 320px;
      -o-object-fit: cover;
         object-fit: cover; }
    .slider__networks {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      left: 20%;
      right: 20%;
      top: 940px;
      font-size: 11px; }
    .slider .container {
      padding: 250px 120px; }
    .slider__arrow {
      position: absolute;
      width: 81px;
      height: 32px; }
      .slider__arrow--left {
        width: 10px; }
      .slider__arrow--right {
        width: 10px; } }

/*# sourceMappingURL=slider.css.map */
